* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    
    background: #F8FAFC;
}
.navRight ul li a,
.navLeft {
    color: white;
    color: #8B5CF6;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
.navRight ul li a:hover {
    color: purple;
    color: #C084FC;
}


.slideshow {
    display: flex;
    overflow-x: auto;
    padding: 20px 0px;
}

.slideshow::-webkit-scrollbar {
    display: none;
}

.card-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    animation: spin 12s infinite linear;
    padding-right: 15px;
}

#slideshow2 .card-container{
    animation: spin2 7s infinite linear;
}
.col {
    display: flex;
    gap: 10px;
    flex: 0 0 8rem;
    flex-direction: column;
    align-items: center;
    perspective: 100px;
}

.col p {
    font-size: small;
}

.col img {
    height: 100px;
    border: solid 1px purple;
    transition: transform 1s;
}

.slideshow img:hover {
    transform: translateZ(12px);
}

@keyframes spin {
    from { transform: translateX(0); }
    to { transform: translateX(-68%); }
}
@keyframes spin2 {
    from { transform: translateX(-50%); }
    to { transform: translateX(0%); }
}


.sec-title{
    margin-bottom: 15px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;

}
.sec-sub-title{
    margin: 20px 0px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: gray;
}